.botoncito-letra {
 display: inline-block;
 background-color: rgb(221,99,86);
 width: 25px;
 height: 35px;
 border-radius: 3px;
 color: white;
 line-height: 35px;
}

.botoncito-check:checked + .botoncito-letra {
  background-color: green;
}

.botoncito-probar {
 background-color: rgb(26,161,183) ;
 width: 80px;
 height: 35px;
 border-radius: 3px;
 color: white;
 line-height: 20px;
}
