
* {
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-family: 'Work Sans', sans-serif;
  font-size: 3em;
  color: rgb(26,161,183) ;
  text-transform: uppercase;
  text-shadow: 0 0 2px #000;;
}

.titulo_login{

}
li {
    list-style-type: none;
}

@media (min-width: 968px) {

ion-icon.iconito {
  font-size: 4rem;
  }
}

li.segundo-row {


}


nav.barrita-nav ul li a {
    text-decoration: none;
    color: black;
}

nav.barrita-nav ul li{
    display: flex;
    justify-content: center;
    align-items: center;

}

.topper div {
    background-image: url(../img/pixels-arriba.png);
    background-size: auto 100%;
}

.topper div h1 {
  font-size: 3rem;

}

a ion-icon.iconito {
color: black!important;
}

ion-icon.iconito {
  font-size: 2rem;

  }

div .bg-tarjetita {
  background-image: url(../img/pixels-arriba.png);
  background-size: auto 100%;
}

div .bg-fondito {
    background-image: url(../img/pixel-guarda.png);
    background-size: auto 100%;

}

div ion-icon {
  font-size: 2rem;
  text-decoration: none;
  color: black;
}
