
* {
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li {
    list-style-type: none;
}

nav.barrita-nav ul li a {
    text-decoration: none;
    color: black;
}

nav.barrita-nav ul li{
    display: flex;
    justify-content: center;
    align-items: center;

}

.topper div {
    background-image: url(../img/pixels.jpg);
}

.topper div h1 {
  font-size: 3rem;

}


.iconito {
  font-size: 1.9em;
  border: 2px solid grey;
}


div ion-icon {
  font-size: 4rem;
}
