
* {
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

.barrita-nav li{
    display: inline-block;
    display: flex;
    justify-content: space-around;
}
